<% include partials/header.ejs %>

<h3>Users</h3>

<table class="table table-striped">
    <tr>
        <th>User_Name</th>
        <th>User_ID</th>

    </tr>
    <% for (var i = 0; i < accounts.length; i++) { %>
    <tr>
        <td><%= accounts[i].username %></td>
        <td><%= accounts[i].id %></td>
    </tr>
    <% } %>
</table>

<% include partials/footer.ejs %>